/*
	CIS 155 Team Project - Spring 2021
	
	Site Name: American Pizza
	Team Name: Developer Dudes
	Authors: Adam Rodriguez, Tracy Harvey, James Coolidge

	This file contains all contact page specific styles
*/

#head {
    background-image: url(site_images/contact_page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 470px;
}

#title {
    border: 2px solid black;
    border-radius: 100px;
    width: 12%;
    text-align: center;
    font-size: 50px;
    background-color: white;
    margin-left: 40%;
    margin-top: 7%;
}

.headers {
    font-size: 29px;
}

#hqinfo {
    float: left;
    margin-top: 1%;
    margin-left: 22%;
    width: 25%;
}

#cform {
    text-align: center;
    margin-left: 32%;
    width: 29%;
}

#cname {
    margin-bottom: 4%;
    border: 1px solid #707070;
    border-radius: 48px;
    height: 48px;
}

#cemail {
    margin-bottom: 4%;
    border: 1px solid #707070;
    border-radius: 48px;
    height: 48px;
}

#comm {
    margin-bottom: 3%;
    border-radius: 5px;
}

#csubmit {
    margin-bottom: 4%;
    border: 1px solid #707070;
    border-radius: 18px;
    height: 30px;
    width: 80px;
    background-color: #F5AEAE;

}